.mourn-france-main-box {
  position: relative;
}

.mourn-france {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0.3;
  .cell {
    display: block;
    height: 100%;
    float: left;
  }

  .blue {
    background-color: blue;
    width: 33.33%;

  }
  .white {
    background-color: white;
    width: 33.34%;
  }
  .red {
    background-color: red;
    width: 33.33%;
  }
}